mixin menu(data, blockName)
  nav(class=blockName)&attributes(attributes)
    +menu-list(data, blockName)

mixin menu-list(data, blockName)
  ul(class=blockName + '__list', class=blockName + '__list--lvl' + data.level)&attributes(attributes)
    each item, i in data.items
      -
        let cssClassItem = blockName + '__item ' + blockName + '__item--lvl' + data.level;
        index ++;
        if (item.submenu)
          cssClassItem += ' ' + blockName + '__item--parent';
      li(class=cssClassItem)

        a(href=item.url ? item.url : '#', class=blockName + '__link', class=blockName + '__link--lvl' + data.level)
          if (item.iconID)
            svg: use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#' + item.iconID)
          = item.title
          if (item.label)
            span(class=blockName + '__label', class=blockName + '__label--' + item.label)
              if (item.label === 'new')
                | NEW
              if (item.label === 'action')
                | Акци
              if (item.label === 'hit')
                | Хит


        if (item.submenu && item.dropdownBtn)
          button(class=blockName + '__dropdown', class=blockName + '__dropdown--lvl' + data.level)

        if (item.submenu)
          if (item.submenu.submenuWrap)
            -
              let cssClassSubmenu = blockName + '__submenu' + ' ' + blockName + '__submenu--lvl' + data.level;
              if (item.submenu.cssMod)
                cssClassSubmenu += ' ' + blockName + '__submenu--' + item.submenu.cssMod;
            div(class=cssClassSubmenu)
              if (item.banner)
                div(class=blockName + '__image')
                  img(src=item.banner, alt="")
              +menu-list(item.submenu, blockName)
          else
            if (item.banner)
              div(class=blockName + '__image')
                img(src=item.banner, alt="")
            +menu-list(item.submenu, blockName)